   
@import url('https://fonts.googleapis.com/css?family=Mukta');
body{
  font-family: 'Mukta', sans-serif;
	height: 100vh;
	min-height: 550px;
    overflow-y: hidden;
}
a{
  text-decoration:none;
  color:#444444;
}
.login-reg-panel{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
	text-align:center;
    width:70%;
	right:0;left:0;
    margin:auto;
    height:400px;
    background-color: #42007c;
}
.white-panel{
    background-color: rgba(255,255, 255, 1);
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
	text-align:center;
    width: 35%;
    right:calc(50% - 50px);
    z-index:0;
    box-shadow: 0 0 15px 9px #00000096;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.login-reg-panel input[type="radio"]{
    position:relative;
    display:none;
}
.login-reg-panel{
    color:#B8B8B8;
}
.login-reg-panel #label-login, 
.login-reg-panel #label-register{
    border:1px solid #9E9E9E;
    padding:5px 5px;
    width:150px;
    display:block;
    text-align:center;
    border-radius:10px;
    cursor:pointer;
    font-weight: 600;
    font-size: 18px;
}
.login-info-box{
    width:30%;
    padding:0 50px;
    top:20%;
    left:0;
    position:absolute;
    text-align:left;
}
.register-info-box{
    width: 30%;
    padding: 0;
    top: 40%;
    right: 0;
    position: absolute;
    text-align: left;
    
}
.btn-outline-info {
    color: #42007c;
    background-color: transparent;
    background-image: none;
    border-color: #42007c;
}
.btn-outline-info:hover {
    color: #fff;
    background-color: #42007c;
    border-color: #42007c;
}
a{
  text-decoration:none;
  color:#2c7715;
}
.btn-UM a{
    width: 50%;
}  

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .login-reg-panel{
        position: relative;
        top: 15%;
        text-align:center;
        width: 100%;
        right:0;left:0;
        margin:auto;
        height:400px;
    }
    .white-panel{
        width: 100%;
        right: 0%;
        transform: translateY(-25%);
        left:calc(25% - 25px);

    }
}    